<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email verification</title>
    <style>
      body {
        background-color: lightblue;
      }

      button {
        background-color: #3498db;
        color: #fff;
        padding: 5px 5px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <p>An otp has been sent to your email <%= userEmail %></p>
    <form action="/verifyotp" method="post">
      <input type="hidden" name="userEmail" value="<%= userEmail %>" />
      <input
        type="password"
        name="otp"
        placeholder="Enter Your OTP"
        required
        autocomplete="off"
      />
      <button type="submit">verify</button>
    </form>
  </body>
</html>
